In [1]:
import pandas as pd
import numpy as np

df_2022 = pd.read_csv("data/mhcld_puf_2022.csv")
df_2021 = pd.read_csv("data/mhcld_puf_2021.csv")
df_2020 = pd.read_csv("data/mhcld_puf_2020.csv")
df_2019 = pd.read_csv("data/mhcld_puf_2019.csv")
df_2018 = pd.read_csv("data/mhcld_puf_2018.csv")
df_2017 = pd.read_csv("data/mhcld_puf_2017.csv")
df_2016 = pd.read_csv("data/mhcld_puf_2016.csv")
df_2015 = pd.read_csv("data/mhcld_puf_2015.csv")
df_2014 = pd.read_csv("data/mhcld_puf_2014.csv")
df_2013 = pd.read_csv("data/mhcld_puf_2013.csv")

In [8]:
pop_df = pd.read_csv("data/nst-est2020.csv")

In [2]:
df_2022 = df_2022.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2021 = df_2021.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2020 = df_2020.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2019 = df_2019.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2018 = df_2018.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2017 = df_2017.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2016 = df_2016.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2015 = df_2015.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2014 = df_2014.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()
df_2013 = df_2013.groupby(['STATEFIP', 'YEAR'], as_index=False).sum()


merged_df = pd.concat([df_2022, df_2021, df_2020, df_2019, df_2018, df_2017, df_2016, df_2015, df_2014, df_2013], 
                      ignore_index=True)

In [3]:
merged_df

,STATEFIP,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,...,DEPRESSFLG,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,DIVISION,REGION,CASEID
0,1,2022,626727,286965,365277,400594,144524,185629,93594,185222,...,30545,4128,684,2759,17301,104,9422,558906,279453,1883517558600976
1,2,2022,54669,24986,30547,34648,14808,18876,9729,18858,...,2238,209,90,93,505,1087,716,84942,37752,190837283701779
2,4,2022,2773481,-3824432,-412182,-102881,653743,850004,425337,850227,...,97650,3879,18366,7036,33401,51100,79947,3400912,1700456,8595939053189201
3,5,2022,467841,-650394,161368,66171,109851,144043,72946,143802,...,17278,1330,177,285,8141,4051,4249,505862,216798,1461259266208509
4,6,2022,3777887,-5381946,637787,1552611,891199,1187825,625862,1179380,...,143057,11313,5365,6482,96042,53612,63511,5381946,2391976,12091976256573200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,51,2013,761786,190583,402254,477076,164390,214993,110775,219398,...,36816,6686,0,13028,22617,0,14239,548495,329097,2208814505816820
473,53,2013,1010328,-1156459,500837,653597,215940,292971,150183,286047,...,49811,2253,850,1925,19180,8046,2885,1331793,591908,2979569873429586
474,55,2013,806559,-880308,371175,451111,146818,191185,104142,183617,...,27939,1106,768,3605,16436,2468,9805,293436,195624,1969491659013450
475,56,2013,107715,43385,52645,69104,25740,32871,16892,33164,...,5554,603,243,1265,870,2,7968,132656,66328,333887492931729
476,99,2013,1500,-1854,-1854,-539,276,408,206,412,...,28,1,3,3,24,20,12,0,0,4147922579721

In [4]:
df = merged_df[['STATEFIP', 'YEAR', 'ANXIETYFLG', 'TRAUSTREFLG', 'ADHDFLG', 'BIPOLARFLG', 'DEPRESSFLG',
        'SPHSERVICE', 'CMPSERVICE', 'OPISERVICE', 'RTCSERVICE']]

df['TOT_SERVICE'] = df[['SPHSERVICE', 'CMPSERVICE', 'OPISERVICE', 'RTCSERVICE']].sum(axis=1)

df

C:\Users\farajin1\AppData\Local\Temp/ipykernel_12052/3082231611.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TOT_SERVICE'] = df[['SPHSERVICE', 'CMPSERVICE', 'OPISERVICE', 'RTCSERVICE']].sum(axis=1)

,STATEFIP,YEAR,ANXIETYFLG,TRAUSTREFLG,ADHDFLG,BIPOLARFLG,DEPRESSFLG,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,TOT_SERVICE
0,1,2022,20178,14932,15629,11650,30545,185629,93594,185222,186266,650711
1,2,2022,1547,2955,538,415,2238,18876,9729,18858,18430,65893
2,4,2022,130705,95014,44115,36904,97650,850004,425337,850227,850225,2975793
3,5,2022,8850,12711,3718,5940,17278,144043,72946,143802,143546,504337
4,6,2022,99690,100109,34247,42613,143057,1187825,625862,1179380,1189274,4182341
...,...,...,...,...,...,...,...,...,...,...,...,...
472,51,2013,21422,19027,18967,29164,36816,214993,110775,219398,219398,764564
473,53,2013,18855,31489,7322,21972,49811,292971,150183,286047,295848,1025049
474,55,2013,10992,14090,5093,18133,27939,191185,104142,183617,193001,671945
475,56,2013,3068,3975,1533,2368,5554,32871,16892,33164,33164,116091
476,99,2013,10,11,10,9,28,408,206,412,412,1438

In [5]:
state_code_to_name = {
    1: 'AL', 2: 'AK', 4: 'AZ', 5: 'AR', 6: 'CA', 8: 'CO', 9: 'CT', 10: 'DE', 11: 'DC',
    12: 'FL', 13: 'GA', 15: 'HI', 16: 'ID', 17: 'IL', 18: 'IN', 19: 'IA', 20: 'KS',
    21: 'KY', 22: 'LA', 25: 'MA', 26: 'MI', 27: 'MN', 28: 'MS',
    29: 'MO', 30: 'MT', 31: 'NE', 32: 'NV', 34: 'NJ', 35: 'NM', 36: 'NY',
    37: 'NC', 38: 'ND', 39: 'OH', 40: 'OK', 41: 'OR', 42: 'PA', 44: 'RI', 45: 'SC',
    46: 'SD', 47: 'TN', 48: 'TX', 49: 'UT', 50: 'VT', 51: 'VA', 53: 'WA',
    55: 'WI', 56: 'WY', 72: 'PR', 99: 'Other'
}

# Map the state codes to state names
df['STATE'] = df['STATEFIP'].map(state_code_to_name)
df

C:\Users\farajin1\AppData\Local\Temp/ipykernel_12052/1363682350.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['STATE'] = df['STATEFIP'].map(state_code_to_name)

,STATEFIP,YEAR,ANXIETYFLG,TRAUSTREFLG,ADHDFLG,BIPOLARFLG,DEPRESSFLG,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,TOT_SERVICE,STATE
0,1,2022,20178,14932,15629,11650,30545,185629,93594,185222,186266,650711,AL
1,2,2022,1547,2955,538,415,2238,18876,9729,18858,18430,65893,AK
2,4,2022,130705,95014,44115,36904,97650,850004,425337,850227,850225,2975793,AZ
3,5,2022,8850,12711,3718,5940,17278,144043,72946,143802,143546,504337,AR
4,6,2022,99690,100109,34247,42613,143057,1187825,625862,1179380,1189274,4182341,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,51,2013,21422,19027,18967,29164,36816,214993,110775,219398,219398,764564,VA
473,53,2013,18855,31489,7322,21972,49811,292971,150183,286047,295848,1025049,WA
474,55,2013,10992,14090,5093,18133,27939,191185,104142,183617,193001,671945,WI
475,56,2013,3068,3975,1533,2368,5554,32871,16892,33164,33164,116091,WY
476,99,2013,10,11,10,9,28,408,206,412,412,1438,Other

In [9]:
# Reshape the DataFrame using pd.melt()
df_long = pd.melt(pop_df, id_vars=['STATE', 'NAME'], var_name='YEAR', value_name='POPESTIMATE')

# Clean up the 'Year' column by extracting the year number from the column names
df_long['YEAR'] = df_long['YEAR'].str.extract('(\d{4})')
df_long['YEAR'] = df_long['YEAR'].astype(int)

df_long

     STATE           NAME  YEAR  POPESTIMATE
0        1        Alabama  2013      4831586
1        2         Alaska  2013       737626
2        4        Arizona  2013      6634690
3        5       Arkansas  2013      2960459
4        6     California  2013     38253768
..     ...            ...   ...          ...
567     53     Washington  2022      7785786
568     54  West Virginia  2022      1775156
569     55      Wisconsin  2022      5892539
570     56        Wyoming  2022       581381
571     72    Puerto Rico  2022      3221789

[572 rows x 4 columns]

In [10]:
data = pd.merge(df, df_long, left_on=['STATEFIP', 'YEAR'], right_on=['STATE', 'YEAR'], how='inner')
data = data.drop('STATE_y', axis=1)
data['UTIL_RATE'] = data['TOT_SERVICE']/data['POPESTIMATE']
data

,STATEFIP,YEAR,ANXIETYFLG,TRAUSTREFLG,ADHDFLG,BIPOLARFLG,DEPRESSFLG,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,TOT_SERVICE,STATE_x,NAME,POPESTIMATE,UTIL_RATE
0,1,2022,20178,14932,15629,11650,30545,185629,93594,185222,186266,650711,AL,Alabama,5074296,0.128237
1,2,2022,1547,2955,538,415,2238,18876,9729,18858,18430,65893,AK,Alaska,733583,0.089824
2,4,2022,130705,95014,44115,36904,97650,850004,425337,850227,850225,2975793,AZ,Arizona,7359197,0.404364
3,5,2022,8850,12711,3718,5940,17278,144043,72946,143802,143546,504337,AR,Arkansas,3045637,0.165593
4,6,2022,99690,100109,34247,42613,143057,1187825,625862,1179380,1189274,4182341,CA,California,39029342,0.107159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,50,2013,3379,7550,2194,2008,5422,48870,24492,48870,46788,169020,VT,Vermont,626603,0.269740
463,51,2013,21422,19027,18967,29164,36816,214993,110775,219398,219398,764564,VA,Virginia,8255861,0.092609
464,53,2013,18855,31489,7322,21972,49811,292971,150183,286047,295848,1025049,WA,Washington,6966252,0.147145
465,55,2013,10992,14090,5093,18133,27939,191185,104142,183617,193001,671945,WI,Wisconsin,5738012,0.117104
466,56,2013,3068,3975,1533,2368,5554,32871,16892,33164,33164,116091,WY,Wyoming,582620,0.199257

In [11]:
trend_df = pd.read_csv("data/pytrends_data.csv")

# Split 'key' column into 'state' and 'year' columns
trend_df[['country_state', 'year']] = trend_df['key'].str.split('_', expand=True)
trend_df['state'] = trend_df['country_state'].str[-2:]  # Extract the state abbreviation from the country_state part
trend_df['year'] = trend_df['year'].astype(int)  # Convert year to integer
trend_df = trend_df.drop(['key', 'country_state', 'Unnamed: 0'], axis=1) #remove uneeded columns

trend_df

,max_ADHD,max_PTSD,max_anxiety,max_bipolar,max_depression,max_mental hospital,max_psychiatrists near me,max_psychologist near me,max_therapist near me,mean_ADHD,...,min_PTSD,min_anxiety,min_bipolar,min_depression,min_mental hospital,min_psychiatrists near me,min_psychologist near me,min_therapist near me,year,state
0,29.0,19.0,57.0,26.0,74.0,0.0,0.0,0.0,0.0,20.583333,...,10.0,39.0,14.0,45.0,0.0,0.0,0.0,0.0,2013,AK
1,34.0,22.0,62.0,27.0,78.0,64.0,0.0,0.0,0.0,21.250000,...,14.0,41.0,15.0,46.0,0.0,0.0,0.0,0.0,2014,AK
2,27.0,26.0,68.0,24.0,92.0,0.0,0.0,99.0,0.0,20.000000,...,13.0,44.0,9.0,44.0,0.0,0.0,0.0,0.0,2015,AK
3,28.0,22.0,76.0,30.0,89.0,68.0,0.0,0.0,0.0,22.500000,...,11.0,53.0,15.0,55.0,0.0,0.0,0.0,0.0,2016,AK
4,28.0,21.0,90.0,23.0,90.0,0.0,0.0,0.0,0.0,21.333333,...,12.0,63.0,11.0,57.0,0.0,0.0,0.0,0.0,2017,AK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,29.0,18.0,79.0,21.0,82.0,0.0,0.0,60.0,81.0,22.166667,...,10.0,58.0,15.0,47.0,0.0,0.0,0.0,0.0,2020,WY
608,42.0,20.0,79.0,32.0,65.0,0.0,0.0,0.0,79.0,34.083333,...,0.0,65.0,13.0,40.0,0.0,0.0,0.0,0.0,2021,WY
609,54.0,18.0,82.0,26.0,70.0,77.0,0.0,0.0,74.0,42.750000,...,10.0,60.0,15.0,43.0,0.0,0.0,0.0,0.0,2022,WY
610,65.0,18.0,82.0,23.0,73.0,79.0,0.0,0.0,77.0,49.583333,...,6.0,65.0,17.0,39.0,0.0,0.0,0.0,0.0,2023,WY
611,57.0,18.0,84.0,25.0,70.0,34.0,0.0,0.0,24.0,49.545455,...,10.0,58.0,15.0,34.0,0.0,0.0,0.0,0.0,2024,WY

In [12]:
#merge health data & trend data on year & state
data_1 = pd.merge(data, trend_df, left_on=['STATE_x', 'YEAR'], right_on=['state', 'year'], how='inner')
data_1 = data_1.drop('year', axis=1) #remove uneeded columns
data_1

,STATEFIP,YEAR,ANXIETYFLG,TRAUSTREFLG,ADHDFLG,BIPOLARFLG,DEPRESSFLG,SPHSERVICE,CMPSERVICE,OPISERVICE,...,min_ADHD,min_PTSD,min_anxiety,min_bipolar,min_depression,min_mental hospital,min_psychiatrists near me,min_psychologist near me,min_therapist near me,state
0,1,2022,20178,14932,15629,11650,30545,185629,93594,185222,...,38.0,12.0,78.0,19.0,54.0,34.0,0.0,0.0,46.0,AL
1,2,2022,1547,2955,538,415,2238,18876,9729,18858,...,48.0,12.0,82.0,17.0,59.0,0.0,0.0,0.0,0.0,AK
2,4,2022,130705,95014,44115,36904,97650,850004,425337,850227,...,44.0,13.0,72.0,19.0,58.0,39.0,0.0,13.0,57.0,AZ
3,5,2022,8850,12711,3718,5940,17278,144043,72946,143802,...,36.0,15.0,81.0,21.0,53.0,42.0,0.0,0.0,54.0,AR
4,6,2022,99690,100109,34247,42613,143057,1187825,625862,1179380,...,41.0,13.0,85.0,17.0,57.0,48.0,2.0,11.0,57.0,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,50,2013,3379,7550,2194,2008,5422,48870,24492,48870,...,14.0,9.0,37.0,13.0,41.0,0.0,0.0,0.0,0.0,VT
438,51,2013,21422,19027,18967,29164,36816,214993,110775,219398,...,18.0,9.0,48.0,20.0,46.0,25.0,0.0,0.0,0.0,VA
439,53,2013,18855,31489,7322,21972,49811,292971,150183,286047,...,17.0,11.0,51.0,19.0,49.0,36.0,0.0,0.0,0.0,WA
440,55,2013,10992,14090,5093,18133,27939,191185,104142,183617,...,16.0,7.0,46.0,18.0,48.0,29.0,0.0,0.0,0.0,WI
441,56,2013,3068,3975,1533,2368,5554,32871,16892,33164,...,11.0,0.0,30.0,12.0,36.0,0.0,0.0,0.0,0.0,WY

In [13]:
data_1.to_csv('data/aggregated_data.csv', index=False)